.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-primary {
    background-color: #C2666E;
    border-color: #D6666E;
}

.btn-primary:hover {
    background-color: #D6666E;
    border-color: #C2666E;
}

.bootstrap-overrides:focus {
    border-color: #f1f1f1;
    box-shadow: 0 0 0 0.18rem rgb(194, 102, 110, 0.6);
}