<div class="my-container">
    <div style="display: inline-block;">
        <a routerLink="">
            <img src="./assets/images/shield-virus.png">
            <h1 style="display: inline;">{{title}}</h1>
        </a>
    </div>
    <div style="float: right; padding-right: 50px;">
        <h1 *ngIf="username != null" style="display: inline-block;">
            Bienvenue, {{username}}
        </h1>
    </div>

    <nav>
        <a *ngIf=(!connected) class="coronabtn" routerLink="/login" routerLinkActive="activebutton">Connexion</a>
        <a *ngIf=(!connected) class="coronabtn" routerLink="/inscription"
            routerLinkActive="activebutton">Inscription</a>
        <a *ngIf="connected && is_doctor" class="coronabtn" routerLink="/doctor"
            routerLinkActive="activebutton">Médecin</a>
        <a *ngIf="connected && !is_doctor" class="coronabtn" routerLink="/establishment"
            routerLinkActive="activebutton">Etablissement</a>
        <a *ngIf=(connected) (click)="deconnexion()" class="coronabtn" routerLink="/establishment"
            routerLinkActive="activebutton">Déconnexion</a>

    </nav>
    <router-outlet></router-outlet>

    <footer class="card-footer">
        <small class="text-muted"><i class="far fa-copyright"></i>Groupe 2 - IPL </small>
    </footer>
</div>