<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img style="width: 75px;height: auto;" src="../../assets/images/connexionImage.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Pseudo">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.Username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </div>
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Pas de compte? Inscrivez-vous</a>
    </div>

  </div>
</div>