<div class="container-fluid">
    <div class="card">
        <div class="card card-header">
            <h1>
                Liste de vos emplacements
            </h1>
        </div>
        <div class="card-body">
            <div style="text-align: center; margin: auto; padding-bottom: 20px;">
                <button class="btn-corona" routerLink="/ajout-lieu">Ajouter un lieu</button>
            </div>
            <table *ngIf=(showTable) class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let place of places">
                        <th scope="row">{{place.place_id}}</th>
                        <td>{{place.name}}</td>
                        <td>{{place.description}}</td>
                        <td (click)="genereateQrCode(place.place_id, place.name, place.description)">
                            <ng-template #popContent>
                                <div class="popup">
                                    <qrcode [qrdata]="qrdata" [size]="124" [level]="'M'"></qrcode>
                                    <button class="btn-corona btn-corona-popup"
                                        (click)="generatePdf(place.name, place.description)">Imprimer .pdf</button>
                                </div>
                            </ng-template>
                            <button class="btn-corona" placement="right" [ngbPopover]="popContent"
                                popoverTitle="QR Code pour {{place.name}}">Générer Code QR
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>