<div class="container-fluid">
    <div class="card">
        <div class="card card-header">
            <h1>
                Liste de vos emplacements
            </h1>
        </div>

        <div *ngIf="addPlaceIsActive" class="wrapper fadeInDown above-card">
            <div id="formContent">
                <!-- Tabs Titles -->
                <div class="fadeIn first">
                    <img style="width: 75px;height: auto;" src="../../assets/images/connexionImage.jpg" id="icon"
                        alt="User Icon" />
                </div>
                <form [formGroup]="addPlaceForm" (ngSubmit)="onSubmitPlace()">
                    <div class="form-group">
                        <input type="text" id="placeName" class="fadeIn second" formControlName="placeName"
                            placeholder="Nom du lieu" [ngClass]="{ 'invalid': submitted && f.placeName.errors }" />
                        <div *ngIf="submitted && f.placeName.errors != null" class="alert alert-danger">
                            Nom manquant
                        </div>
                        <div class="form-group">
                            <input type="text" id="placeDescription" class="fadeIn third"
                                formControlName="placeDescription" placeholder="Description"
                                [ngClass]="{ 'invalid': submitted && f.placeDescription.errors }" />
                            <div *ngIf="submitted && f.placeDescription.errors != null" class="alert alert-danger">
                                Description manquante
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn-corona" value="Ajouter un lieu" />
                        </div>
                        <div id="formFooter">
                            <a class="underlineHover" (click)="addPlaceActivation()">Retour</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="card-body">
            <div style="text-align: center; margin: auto; padding-bottom: 20px;">
                <button class="btn-corona" (click)="addPlaceActivation()">Ajouter un lieu</button>
            </div>
            <table *ngIf=(showTable) class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let place of places">
                        <th scope="row">{{place.place_id}}</th>
                        <td>{{place.name}}</td>
                        <td>{{place.description}}</td>
                        <td (click)="generateQrCode(place.place_id, place.name, place.description)">
                            <ng-template #popContent>
                                <div class="popup">
                                    <qrcode [qrdata]="qrdata" [size]="124" [level]="'M'"></qrcode>
                                    <button class="btn-corona btn-corona-popup"
                                        (click)="generatePdf(place.name, place.description)">Imprimer .pdf</button>
                                </div>
                            </ng-template>
                            <button class="btn-corona" placement="right" [ngbPopover]="popContent"
                                popoverTitle="QR Code pour {{place.name}}">Générer Code QR
                            </button>
                        </td>
                        <td>
                            <ng-template #popContentModify>
                                <div class="popup">
                                    <input name="" class="form-control" formControlName="nameModify" placeholder="Nom" type="text">
                                    <input name="" class="form-control" formControlName="descriptionModify" placeholder="Description" type="text">                                                                        
                                    <button class="btn-corona btn-corona-popup"
                                        (click)="modifyPlace()">Valider</button>
                                </div>
                            </ng-template>
                            <button class="btn-corona" placement="right" [ngbPopover]="popContentModify"
                                popoverTitle="Modifier {{place.name}}">Modifier
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>