<div class="card ">
    <div class="card-header">
        Rappel des gestes barrières
    </div>
    <div class="card-body">
        <img class="img-corona" src='../assets/images/Geste-barriere-laver-main.png'>
        <p class="text-corona">Se laver les mains régulièrement surtout après avoir fait une grosse crotte</p>
        <br>
        <img class="img-corona" src="../assets/images/Geste-barriere-atchoum.png">
        <p class="text-corona">Eternuer dans un mouchoir au lieu d'avoir ta morve sur tes mains comme un gros dégueulasse </p>
        <br>
        <img class="img-corona" src="../assets/images/Geste-barriere-1m50.png">
        <p class="text-corona">Rester à distance d'1m50 parce que les gens puent </p>
        <br>
        <img class="img-corona" src="../assets/images/Geste-barriere-poignee.png">
        <p class="text-corona">Ne pas se faire de check ou des conneries du genre</p>♥
    </div>
</div>